:root {
    background-color: var(--primary-bg);
    color: var(--primary-text-color);

    button, input {
        color: var(--primary-text-color);
    }
}

.lucide {
    display: inline-block;
    vertical-align: middle;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;

    &:hover[href]:not([href=""]):not([href="#"]) {
        color: var(--active-link-color);
        text-decoration: underline;
    }
}
