**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/*Dockerfile
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
**/README.md
