**/bin/*
**/obj/*
public
Front/dist/static

# Idea files
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/misc.xml
**/.idea/*.iws
**/.idea/vcs.xml
**/.idea/projectSettingsUpdater.xml
**/.idea/shelf/**
.teamcity/.idea
.teamcity/*.iml
.teamcity/target
InspectCodeCache/**
**/.idea/dictionaries