<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nexus.kontur" value="https://nexus.kontur.host/repository/nuget/index.json" protocolVersion="3"/>
    </packageSources>
    <packageManagement>
        <add key="format" value="1" />
        <add key="disabled" value="False" />
    </packageManagement>
</configuration>