.message {
    line-height: 20px;
}

.details {
    font-size: var(--small-text-size);
}

.avatarImage {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-right: 4px;
    vertical-align: middle;
}