.iconContainer {
    position: relative;
    display: inline-block;
}

.mainIcon {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.mainIconWithClip {
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 0
    );
}

.subIconContainer {
    position: absolute;
    bottom: -3px;
    right: -3px;
    transform: scale(0.8);
    transform-origin: bottom right;
    z-index: 2;
}