.testRunsTableHeadRow th {
    font-size: 12px;
    padding: 4px 8px;
}

.testRunsTableHeadRow {
    border-bottom: 1px solid var(--border-line-color-2);
}

.testList {
    width: 100%;
    max-width: 100vw;
    table-layout: fixed;
}

.testRunActionsHeaderCell {
    width: 20px;
}

@media (min-width: 1200px) {
    .testRunActionsHeaderCell {
        width: 220px;
    }
}

