.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatarIcon {
    background-color: rgb(var(--inverse-color-base) / 0.1);    
}