@layer components;

.runList {
    width: 100%;
    max-width: 100vw;
    table-layout: auto;
}

.runList th {
    font-size: 12px;
    text-align: left;
    padding: 4px 8px;
}

.runList td {
    padding: 6px 8px;
}

.runList thead > tr {
    border-bottom: 1px solid var(--border-line-color-2);
}

.countCell {
    width: 100%;
    white-space: nowrap;
}

.changesCell {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attributesCell {
    max-width: 80px;
    white-space: nowrap;
    text-align: left;
}