{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "prettier",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error"
    },
    "env": {
        "browser": true,
        "mocha": true
    },
    "ignorePatterns": ["**/CLQLGrammar/*.ts"]
}