.testListRoot {
    max-width: var(--layout-centered-width);
    width: var(--layout-centered-width);
    margin: 24px auto;
}

.root {
    display: flex;
}

.showRunsSwitchContainer {
    position: fixed;
    right: 70px;
    top: 10px;
}

.rootGroupTitle {
    font-size: 28px;
    line-height: 36px;
}
