.container {
    margin: 300px auto;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

    & h1 {
        font-size: 40px;
        line-height: 50px;
    }
}